.dish-list{

  &-item{
    box-sizing: border-box;
    min-height: 107px;
    margin-bottom: 21px;
    display: flex;
    box-shadow: 0px 2px 6px rgba(159, 96, 0, 0.1);
    border-radius: 8px;

    &.inactive{
      opacity: 0.5;
    }

    &-info{
      padding: 10px;
    }
    &-heading{
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
    }
    &-title{
      font-size: 14px;
      line-height: 18px;
      color: #3D3D3D;
      text-decoration: none;
    }
    &-price{
      font-size: 14px;
      line-height: 17px;
      color: #3D3D3D;
      white-space: nowrap;
      opacity: 0.6;
    }
    &-description{
      font-size: 10px;
      line-height: 12px;
      color: rgba(61, 61, 61, 0.8);
    }
  }

  &-img{
    flex: 0 0 115px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-decoration: none;
  }

}


