.reviews {

  &-container {
    padding-bottom: 20px;
  }

  &-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #3D3D3D;
    margin: 15px 0 20px 0;

  }

  &-list {
    margin-bottom: 20px;
  }
}

.show-all-reviews {
  border-bottom: 1px solid #4C95FF;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #4C95FF;
}

.send-review {
  font-size: 10px;
  line-height: 14px;
  color: #3D3D3D;
  background: #FCFCFC;
  border-radius: 8px;
  border: 1px solid #FFA12E;
  padding: 8px 7px 8px 10px;
}

.send-review-textarea {
  margin-top: 15px;
}

.send-review-field {
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(159, 96, 0, 0.1);
  border-radius: 8px;
  border: none;
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;

  &::placeholder {
    font-size: 10px;
    color: rgba(61, 61, 61, 0.3);
  }
}
