.dish-details{
    background-color: #FCFCFC;
  &-name{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #3D3D3D;
    margin-bottom: 11px;
  }
  &-price{
    font-size: 14px;
    line-height: 11px;
    color: #3D3D3D;
    margin-bottom: 29px;
  }
}
