.reviews-item{
margin-bottom: 20px;
}
.review{

  &-author{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &-avatar{
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border: 1px solid #FFA12E;
      margin-right: 11px;
    }
    &-name{
      font-weight: 500;
      font-size: 10px;
      color: #3D3D3D;
    }
  }
  &-details{
  display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  &-rating{
    display: flex;
    margin-right: 7px;

    &-star{
      margin-right: 0.5px;
      height: 20px;
    }
  }
  &-date{
    font-size: 8px;
    color: rgba(61, 61, 61, 0.7);
  }
  &-text{
    font-size: 10px;
    color: rgba(61, 61, 61, 0.7);
    line-height: 12px;
    margin-bottom: 20px;
  }
  &-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-name{
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      color: #3D3D3D;
    }
    &-buttons a {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-btn{
    padding: 4px 17px;
    text-decoration: none;
    color: #3D3D3D;
    font-size: 12px;
    border-radius: 4px;
    display: inline-block;
    line-height: 22px;
    &-primary{
      background: #FFD251;
    }
    &-outline{
      background: #fff;
      border: 1px solid #FFD251;
    }
  }

}
