.search-panel{
  margin-bottom: 16px;
  position: relative;
}

.input-group{
  position: relative;

  &-field{
    width: 100%;
    box-shadow: 0px 2px 6px rgba(159, 96, 0, 0.1);
    border-radius: 8px;
    border:none;
    padding: 10px 32px 10px 13px;
    color: #3D3D3D;
    outline: none;
    box-sizing: border-box;

    &::placeholder{
      color: #BDBDBD;
    }
  }

  &-icon-append{
    position: absolute;
    right: 11px;
    top: 10px;
  }
}

.search-results{
  position: absolute;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 2px 9px rgba(159, 96, 0, 0.1);
  border-radius: 4px;


  &-item{
    padding: 14px;
    color: #3D3D3D;
    font-size: 12px;
  }
}




