.tabs{
  position: relative;
  z-index: 10;
  margin-bottom: 5px;

  &-menu{
    display: flex;
    &-item{
      text-align: center;
      font-size: 14px;
      line-height: 18px;
      padding: 11px 5px;
      flex: 1 1 50px;
      color: rgba(61, 61, 61, 0.5);
      position: relative;

      &.active{
        color: rgba(61, 61, 61);
        background: #FFFFFF;
        box-shadow: 0 2px 6px rgba(159, 96, 0, 0.1);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        &::after{
          content: "";
          height: 6px;
          width: 100%;
          position: absolute;
          bottom: -6px;
          left: 0;
          background-color: #fff;
        }
      }
    }
  }
  &-item{
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(159, 96, 0, 0.1);
    border-radius:8px;
    padding: 14px;

  }
}
