.dish-actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  &-col{
    display: flex;
    align-items: center;
  }

  &-like-btn{
    margin-right: 12px;
  }

  &-btn{
    text-decoration: none;
    color: #3D3D3D;
    background: linear-gradient(360deg, #FFA12E -171.79%, #FFD251 118.32%);
    border-radius: 4px;
    padding: 10px 25px;
    border: none;
    display: inline-block;
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
  }
  &-count{

    &-btn{
      text-decoration: none;
      width: 25px;
      height: 25px;
      box-shadow: 0 1px 2px rgba(154, 154, 154, 0.21), inset 1px 1px 4px #FCFCFC;
      border-radius: 4px;
      color: #3D3D3D;
      font-weight: 500;
      font-size: 11px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
    }
    &-number{
      margin: 0 10px;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      color: #3D3D3D;
    }
  }
}
