.dish-details-info{

  &-item{
  display: flex;
    margin-bottom: 15px;
}
  &-icon-container{
    flex: 0 0 34px;
  }
  &-text{
    font-size: 14px;
    line-height: 18px;
    color: rgba(61, 61, 61, 0.8);
  }
}
