.gallery {

  &-container {
    margin-top: 36px;
    margin-bottom: 44px;
  }

  &-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #3D3D3D;
    margin-bottom: 20px;
  }

  &-list {
    display: flex;
    overflow: hidden;

    &-item {
      box-sizing: border-box;
      box-shadow: 0px 2px 6px rgba(159, 96, 0, 0.1);
      border-radius: 8px;
      background-color: #fff;
      position: relative;
      flex: 0 0 150px;
    }

    &-img {
      height: 100px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-bottom: 6px;
    }

    &-btn {
      text-decoration: none;
      display: inline-block;
      background: linear-gradient(180deg, #FFA12E 0%, #FFD251 100%);
      height: 35px;
      width: 35px;
      border-radius: 50%;
      color: #3D3D3D;
      font-weight: 900;
      font-size: 16px;
      line-height: 35px;
      text-transform: uppercase;
      text-align: center;
      position: absolute;
      right: 7px;
      top: 78px;
    }

    &-title {
      font-size: 10px;
      line-height: 14px;
      color: #3D3D3D;
      padding-left: 5px;
      padding-right: 50px;
      margin-bottom: 5px;
    }

    &-price {
      font-size: 10px;
      line-height: 12px;
      color: rgba(61, 61, 61, 0.8);
      text-align: right;
      padding-right: 6px;
      margin-bottom: 9px;
    }
  }
}

