.category-list{

  &-item{
    box-sizing: border-box;
    margin-bottom: 21px;
  }
  &-heading{
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    padding-left: 10px;
  }
  &-icon-container{
    margin-right: 11px;
  }
  &-title{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #3D3D3D;
    text-transform: capitalize;
  }
}
