.dish-details-constructor{

  &-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &-title{
    font-size: 14px;
    line-height: 16px;
    color: rgba(61, 61, 61, 0.8);
    margin-bottom: 20px;
  }
  &-item{
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    margin-bottom: 15px;
  }
  &-checkbox-container{
    background: #FFFDF5;
    box-shadow: 0px 2px 6px rgba(159, 96, 0, 0.1);
    border-radius: 8px;
    padding: 7px 10px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid transparent;

    &.active{
      border-color: #FFA12E;
    }
  }
  &-price{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: rgba(49, 208, 112, 0.8);
  }
}
.dish-details-label{
  font-size: 14px;
  line-height: 16px;
  color: rgba(61, 61, 61, 0.8);
}
.dish-details-checkbox{
  width: 11px;
  height: 11px;
  border: 1px solid rgba(61, 61, 61, 0.8);
  margin-right: 10px;

  &.active {
    background-color: #FFA12E;
    border-color: #FFA12E;

    &::after {
      content: "\2714";
      color: #fff;
      position: relative;
      top: -3px;
      left: 1px;
      font-size: 13px;
    }
  }
}
